.formContainer
  display: flex
  position: relative
  width: 300px
  margin: 10px 0 17px
  button
    margin-left: 10px

.errorMessage
  color: #980000
  font-size: 14px
  position: absolute
  top: 100%



.fieldContainer
  width: 100%