.listElemContainer
  text-align: justify
  width: 100%
  word-wrap: break-word
  box-sizing: border-box
  margin-top: 5px

.flexContainer
  display: flex
  word-break: break-word

.buttonsContainer
  margin-left: auto
  display: flex

.buttonsContainer:hover
  button
    cursor: pointer

.flexContainer:hover
    background-color: #f7fffc !important
    transition: 0.3s

.buttonWrapper
  width: 110px
  button
    display: flex
    margin: 0 auto